
/*navigation */
nav
{
	display : inline-block;
    float: left;
    width: 200px;
    border: 1px solid black;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;

}

nav li{
	margin-right: 10px;
}

/*article biographique */

section
{
	display : inline-block;
    border: 1px solid blue;
    flex: 1.2;
    position : relative;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #706b64;
    color:white; 
}

header{
	display:flex;
	justify-content: space-between;
}

#logo{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
}

#auteur{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#reseaux_sociaux img{
	margin: 5px;
	
}

/*articles principaux*/

#article_principal{
	margin-right: 10px;
	width: 75%;
}

#articles{
	display: flex;

}

/*footer*/


footer{
	display : flex;
	justify-content: flex-start;
	margin: 10px;
}

#images_voyages{
	font-size: 20px;
	margin-left: 20px;
}

#images_voyages img{

	margin : 10px;
	margin-bottom: 5px;
}